<div class="alert alert-block alert-success">
<b>Comentario general del revisor</b> <a class="tocSkip"></a><br />
Status del proyecto: <b>Aprobado</b>
</div>

¬°Hola!<br />
Soy **Francisco Cort√©s**, estoy contento de revisar tu proyecto y ser parte de tu proceso de aprendizaje.
A lo largo del texto, har√© algunas observaciones sobre mejoras en el c√≥digo y tambi√©n har√© comentarios sobre tus percepciones sobre el tema. Si existe alg√∫n error en el c√≥digo, no te preocupes, estoy aqu√≠ para ayudarte a mejorarlo, en la primera iteraci√≥n te lo se√±alar√© para que tengas la oportunidad de corregirlo, pero si a√∫n no encuentras una soluci√≥n para esta tarea, te dar√© una pista m√°s precisa en la pr√≥xima iteraci√≥n y tambi√©n algunos ejemplos pr√°cticos. Estar√© abierto a retroalimentaci√≥n y discusiones sobre el tema.<br />
Encontrar√°s mis comentarios a continuaci√≥n - **por favor no los muevas, modifiques o borres**.
Revisar√© cuidadosamente tu c√≥digo para comprobar que se han cumplido con los requisitos y te proporcionar√© mis comentarios en cajas verdes, amarillas o rojas como esta:

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si la ejecuci√≥n fue perfecta succesfully.
</div>

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si existe alguna recomendaci√≥n para que tu c√≥digo mejore.
</div>

<div class="alert alert-block alert-danger">

<b>Comentario del revisor</b> <a class="tocSkip"></a>

Si existen correcciones necesarias para cumplir con los requisitos. El trabajo no puede ser aceptado si hay alguna caja roja.
</div>

Puedes responderme de la siguiente manera:

<div class="alert alert-block alert-info">
<b>Respuesta del estudiante.</b> <a class="tocSkip"></a>
</div>

# Descripci√≥n del proyecto

Trabajas en la compa√±√≠a de extracci√≥n de petr√≥leo OilyGiant. Tu tarea es encontrar los mejores lugares donde abrir **200 pozos nuevos de petr√≥leo.**

Para completar esta tarea, tendr√°s que realizar los siguientes pasos:

- Leer los archivos con los par√°metros recogidos de pozos petrol√≠feros en la regi√≥n seleccionada: calidad de crudo y volumen de reservas.
- Crear un modelo para predecir el volumen de reservas en pozos nuevos.
- Elegir los pozos petrol√≠feros que tienen los valores estimados m√°s altos.
- Elegir la regi√≥n con el beneficio total m√°s alto para los pozos petrol√≠feros seleccionados.

Tienes datos sobre muestras de crudo de tres regiones. Ya se conocen los par√°metros de cada pozo petrolero de la regi√≥n. Crea un modelo que ayude a elegir la regi√≥n con el mayor margen de beneficio. Analiza los beneficios y riesgos potenciales utilizando la t√©cnica *bootstrapping*.

## Condiciones

- Solo se debe usar la regresi√≥n lineal para el entrenamiento del modelo.
- Al explorar la regi√≥n, se lleva a cabo un estudio de 500 puntos con la selecci√≥n de los mejores 200 puntos para el c√°lculo del beneficio.
- El presupuesto para el desarrollo de 200 pozos petroleros es de 100 millones de d√≥lares.
- Un barril de materias primas genera 4.5 USD de ingresos. El ingreso de una unidad de producto es de 4500 d√≥lares (el volumen de reservas est√° expresado en miles de barriles).
- Despu√©s de la evaluaci√≥n de riesgo, mant√©n solo las regiones con riesgo de p√©rdidas inferior al 2.5%. De las que se ajustan a los criterios, se debe seleccionar la regi√≥n con el beneficio promedio m√°s alto.

Los datos son sint√©ticos: los detalles del contrato y las caracter√≠sticas del pozo no se publican.

## Descripci√≥n de datos

Los datos de exploraci√≥n geol√≥gica de las tres regiones se almacenan en archivos:

- */datasets/geo_data_0.csv*. Descarga el conjunto de datos https://practicum-content.s3.us-west-1.amazonaws.com/datasets/geo_data_0.csv
- */datasets/geo_data_1.csv*. Descarga el conjunto de datos https://practicum-content.s3.us-west-1.amazonaws.com/datasets/geo_data_1.csv
- */datasets/geo_data_2.csv*. Descarga el conjunto de datos https://practicum-content.s3.us-west-1.amazonaws.com/datasets/geo_data_2.csv 
- *id* ‚Äî identificador √∫nico de pozo de petr√≥leo
- *f0, f1, f2* ‚Äî tres caracter√≠sticas de los puntos (su significado espec√≠fico no es importante, pero las caracter√≠sticas en s√≠ son significativas)
- *product* ‚Äî volumen de reservas en el pozo de petr√≥leo (miles de barriles).

## Instrucciones del proyecto
1. Descarga y prepara los datos. Explica el procedimiento.
2. Entrena y prueba el modelo para cada regi√≥n en geo_data_0.csv:
    1. Divide los datos en un conjunto de entrenamiento y un conjunto de validaci√≥n en una proporci√≥n de 75:25
    2. Entrena el modelo y haz predicciones para el conjunto de validaci√≥n.
    3. Guarda las predicciones y las respuestas correctas para el conjunto de validaci√≥n.
    4. Muestra el volumen medio de reservas predicho y RMSE del modelo.
    5. Analiza los resultados.
    6. Coloca todos los pasos previos en funciones, realiza y ejecuta los pasos 2.1-2.5 para los archivos 'geo_data_1.csv' y 'geo_data_2.csv'.
3. Prep√°rate para el c√°lculo de ganancias:
    1. Almacena todos los valores necesarios para los c√°lculos en variables separadas.
    2. Dada la inversi√≥n de 100 millones por 200 pozos petrol√≠feros, de media un pozo petrol√≠fero debe producir al menos un valor de 500,000 d√≥lares en unidades para evitar p√©rdidas (esto es equivalente a 111.1 unidades). Compara esta cantidad con la cantidad media de reservas en cada regi√≥n.
    3. Presenta conclusiones sobre c√≥mo preparar el paso para calcular el beneficio.
4. Escribe una funci√≥n para calcular la ganancia de un conjunto de pozos de petr√≥leo seleccionados y modela las predicciones:
    1. Elige los 200 pozos con los valores de predicci√≥n m√°s altos de cada una de las 3 regiones (es decir, archivos 'csv').
    2. Resume el volumen objetivo de reservas seg√∫n dichas predicciones. Almacena las predicciones para los 200 pozos para cada una de las 3 regiones.
    3. Calcula la ganancia potencial de los 200 pozos principales por regi√≥n. Presenta tus conclusiones: prop√≥n una regi√≥n para el desarrollo de pozos petrol√≠feros y justifica tu elecci√≥n.
5. Calcula riesgos y ganancias para cada regi√≥n:
    1. Utilizando las predicciones que almacenaste en el paso 4.2, emplea la t√©cnica del bootstrapping con 1000 muestras para hallar la distribuci√≥n de los beneficios.
    2. Encuentra el beneficio promedio, el intervalo de confianza del 95% y el riesgo de p√©rdidas. La p√©rdida es una ganancia negativa, calc√∫lala como una probabilidad y luego expr√©sala como un porcentaje.
    3. Presenta tus conclusiones: prop√≥n una regi√≥n para el desarrollo de pozos petrol√≠feros y justifica tu elecci√≥n. ¬øCoincide tu elecci√≥n con la elecci√≥n anterior en el punto 4.3?

## Evaluaci√≥n del proyecto
Hemos definido los criterios de evaluaci√≥n para el proyecto. Lee esto con atenci√≥n antes de pasar al ejercicio.

Esto es lo que los revisores buscar√°n cuando eval√∫en tu proyecto:

- ¬øC√≥mo preparaste los datos para el entrenamiento?
- ¬øSeguiste todos los pasos de las instrucciones?
- ¬øConsideraste todas las condiciones del negocio?
- ¬øCu√°les son tus hallazgos sobre el estudio de tareas?
- ¬øAplicaste correctamente la t√©cnica bootstrapping?
- ¬øSugeriste la mejor regi√≥n para el desarrollo de pozos? ¬øJustificaste tu elecci√≥n?
- ¬øEvitaste la duplicaci√≥n de c√≥digo?
- ¬øMantuviste la estructura del proyecto y el c√≥digo limpio?

Ya tienes tus hojas informativas y los res√∫menes de los cap√≠tulos, por lo que todo est√° listo para continuar con el proyecto.

# Proyecto

Como siempre, iniciemos importando mis librerias.

In [13]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression, Ridge
from sklearn.metrics import root_mean_squared_error
from sklearn.preprocessing import StandardScaler

In [ ]:
# Importo mis datasets como df_0, df_1 y df_2
df_0 = pd.read_csv('datasets/geo_data_0.csv')
df_1 = pd.read_csv('datasets/geo_data_1.csv')
df_2 = pd.read_csv('datasets/geo_data_2.csv')

In [5]:
df_0.head()

      id        f0        f1        f2     product
0  txEyH  0.705745 -0.497823  1.221170  105.280062
1  2acmU  1.334711 -0.340164  4.365080   73.037750
2  409Wp  1.022732  0.151990  1.419926   85.265647
3  iJLyR -0.032172  0.139033  2.978566  168.620776
4  Xdl7t  1.988431  0.155413  4.751769  154.036647

## An√°lisis Exploratorio

In [6]:
pd.set_option('display.float_format', '{:,.2f}'.format)

display(
    df_0.info(),
    df_0.describe(),
    print(f'\nEl dataframe 0 tiene una cantidad de {df_0.duplicated().sum()} valores duplicados')
)
display(
    df_1.info(),
    df_1.describe(),
    print(f'\nEl dataframe 1 tiene una cantidad de {df_0.duplicated().sum()} valores duplicados')
)
display(
    df_2.info(),
    df_2.describe(),
    print(f'\nEl dataframe 2 tiene una cantidad de {df_0.duplicated().sum()} valores duplicados')
)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

El dataframe 0 tiene una cantidad de 0 valores duplicados

None

              f0         f1         f2    product
count 100,000.00 100,000.00 100,000.00 100,000.00
mean        0.50       0.25       2.50      92.50
std         0.87       0.50       3.25      44.29
min        -1.41      -0.85     -12.09       0.00
25%        -0.07      -0.20       0.29      56.50
50%         0.50       0.25       2.52      91.85
75%         1.07       0.70       4.72     128.56
max         2.36       1.34      16.00     185.36

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

El dataframe 1 tiene una cantidad de 0 valores duplicados

None

              f0         f1         f2    product
count 100,000.00 100,000.00 100,000.00 100,000.00
mean        1.14      -4.80       2.49      68.83
std         8.97       5.12       1.70      45.94
min       -31.61     -26.36      -0.02       0.00
25%        -6.30      -8.27       1.00      26.95
50%         1.15      -4.81       2.01      57.09
75%         8.62      -1.33       4.00     107.81
max        29.42      18.73       5.02     137.95

None

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 5 columns):
 #   Column   Non-Null Count   Dtype
---  ------   --------------   -----
 0   id       100000 non-null  object
 1   f0       100000 non-null  float64
 2   f1       100000 non-null  float64
 3   f2       100000 non-null  float64
 4   product  100000 non-null  float64
dtypes: float64(4), object(1)
memory usage: 3.8+ MB

El dataframe 2 tiene una cantidad de 0 valores duplicados

None

              f0         f1         f2    product
count 100,000.00 100,000.00 100,000.00 100,000.00
mean        0.00      -0.00       2.50      95.00
std         1.73       1.73       3.47      44.75
min        -8.76      -7.08     -11.97       0.00
25%        -1.16      -1.17       0.13      59.45
50%         0.01      -0.01       2.48      94.93
75%         1.16       1.16       4.86     130.60
max         7.24       7.84      16.74     190.03

None

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto!<br/>

Buena manera de leer los datos y de hacer una revisi√≥n inicial
</div>

Los tres datasets cuentan con 100k rows de datos, no hay datos ausentes por lo tanto no aplicaremos metodos de imputaci√≥n. Tampoco hay valores duplicados. Estamos listos para los siguientes pasos.

Para entrenar el modelo, sera necesario hacer drop a mi columna de id, ya que no me aporta nada en particular y necesitaria de NLP para poderla procesar.

## Funci√≥n para Modelo de Regresion Lineal

In [ ]:
def region_model(df):
    '''
    Esta funcion recibe como entrada un dataframe.

    Una ves recibiendo esto se le da el procesamiento completo de dropear las columnas, preparas los datos en test y train, se entrena un modelo de LinearRegression 
    '''
    X = df.drop(columns=['id', 'product'])
    y = df['product']

    # Dividimos los datos en conjunto de entrenamiento (75%) y prueba (25%)
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.25, random_state=42
    )   

    # Creamos un Pipeline con StandardScaler y Regresion Lineal (Usar Ridge o Lasso) 
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('regressor', LinearRegression())
    ])

    # Entrenamos el modelo
    pipeline.fit(X_train, y_train)
    
    # Hacemos predicciones
    y_pred = pipeline.predict(X_test)

    #Calculamos las m√©tricas
    rmse = root_mean_squared_error(y_test, y_pred)
    relative_error = rmse / y_test.mean()

    # Mostramos valor del RMSE, Error Relativo y Valor Medio de las reservas predicted
    print(f"üîπ Root Mean Squared Error (RMSE): {rmse:.2f}")
    print(f"üìè Error relativo: {relative_error:.2%}")
    print(f"üõ¢Ô∏è Volumen medio de reservas: {y_pred.mean():.2f} barriles")

    return

<div class="alert alert-block alert-success">
<b>Comentario delxrevisor</b> <a class="tocSkip"></a><br />
Bien hecho!<br/>

Buena manera de construir una funci√≥n para entrenar y validar el modelo
</div>

In [79]:
df_list = [df_0, df_1, df_2]
number = 0

for i in df_list:
    print(f'DataFrame {number}')
    region_model(i)
    print('\n')
    number += 1

DataFrame 0
üîπ Root Mean Squared Error (RMSE): 37.76
üìè Error relativo: 40.89%
üõ¢Ô∏è Volumen medio de reservas: 92.40 barriles


DataFrame 1
üîπ Root Mean Squared Error (RMSE): 0.89
üìè Error relativo: 1.30%
üõ¢Ô∏è Volumen medio de reservas: 68.71 barriles


DataFrame 2
üîπ Root Mean Squared Error (RMSE): 40.15
üìè Error relativo: 42.19%
üõ¢Ô∏è Volumen medio de reservas: 94.77 barriles

## C√°lculo de Ganancias

In [75]:
# Valores
pozos = 200
budget = 100000000
precio_barril = 4500
minimo_promedio = int(budget/pozos)
minimo_barril = minimo_promedio/precio_barril

print(f'üí∞ El valor minimo que debe generar cada pozo en promedio es de ${minimo_promedio} USD')
print(f'üõ¢Ô∏è Cada pozo debe producir un minimo de {int(minimo_barril)} barriles')

üí∞ El valor minimo que debe generar cada pozo en promedio es de $500000 USD
üõ¢Ô∏è Cada pozo debe producir un minimo de 111 barriles

### Media de barriles por region
Region 1: 92.40  
Region 2: 68.71  
Region 3: 94.77

Ni una de las 3 regiones genera un promedio minimo de 111 barriles, por lo que si elegimos 200 pozos aleatoriamente ninguna regi√≥n sera rentable.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Correcto!<br/>

Me parece acertada la manera de mostrar los resultados para cada una de las regiones, estoy de acuerdo con las observaciones dadas, ninguna de las regiones es rentable si se toman de esta manera
</div>

## Ganancia Potencial
El modelo pronostica la cantidad de barriles de petroleo (en miles) por cada pozo. De todos los pronosticos realizados debo elegir los 200 pozos mas grandes. Modifico mi funcion y regreso las 200 predicciones mas grandes.

In [104]:
# Modifico mi funcion region_model para extraer el top 200 de cada pozo. A su vez, modifico mi y_pred para que tome en cuenta todo el dataset y no solamente X_test
def region_model(df):
    '''
    Esta funcion recibe como entrada un dataframe.

    Una ves recibiendo esto se le da el procesamiento completo de dropear las columnas, preparas los datos en test y train, se entrena un modelo de LinearRegression 
    '''
    X = df.drop(columns=['id', 'product'])
    y = df['product']

    # Dividimos los datos en conjunto de entrenamiento (75%) y prueba (25%)
    X_train, X_test, y_train, y_test = train_test_split(
        X, y, test_size=0.25, random_state=42
    )   

    # Creamos un Pipeline con StandardScaler y Regresion Lineal (Usar Ridge o Lasso) 
    pipeline = Pipeline([
        ('scaler', StandardScaler()),
        ('regressor', LinearRegression())
    ])

    # Entrenamos el modelo
    pipeline.fit(X_train, y_train)
    
    # Hacemos predicciones SOBRE mi dataset completo
    y_pred = pipeline.predict(X)

    # Extraigo el top 200 pozos de mis predicciones basado en producto
    top_200 = pd.Series(y_pred).sort_values(ascending=False).head(200)

    return top_200

In [105]:
# Corro mi funcion con cada DF para extraer mi top 200 pozos por region en formato de Pandas Series
region_0_top_200 = region_model(df_0)
region_1_top_200 = region_model(df_1)
region_2_top_200 = region_model(df_2)

In [116]:
# Ganancia Potencial

print(f'üõ¢Ô∏è La region 1 tiene un promedio de barriles de: {region_0_top_200.mean()} y una ganancia potencial de ${region_0_top_200.sum()*precio_barril:.2f} USD\n')
print(f'üõ¢Ô∏è La region 2 tiene un promedio de barriles de: {region_1_top_200.mean()} y una ganancia potencial de ${region_1_top_200.sum()*precio_barril:.2f} USD\n')
print(f'üõ¢Ô∏è La region 3 tiene un promedio de barriles de: {region_2_top_200.mean()} y una ganancia potencial de ${region_2_top_200.sum()*precio_barril:.2f} USD\n')

üõ¢Ô∏è La region 1 tiene un promedio de barriles de: 163.34728730628322 y una ganancia potencial de $147012558.58 USD

üõ¢Ô∏è La region 2 tiene un promedio de barriles de: 139.16109357667088 y una ganancia potencial de $125244984.22 USD

üõ¢Ô∏è La region 3 tiene un promedio de barriles de: 156.59273115041017 y una ganancia potencial de $140933458.04 USD

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Bien hecho!<br/>

Buena manera de encontrar los resultados
</div>

### Conclusion

Basandome en las predicciones del modelo para cada una de las regiones. La regi√≥n que propongo para el desarrollo de los nuevos pozos petroleros es la regi√≥n 1, ya que tiene el pron√≥stico de promedio de barriles mas alto. Si bien las 3 cumplen con el quota, la region 1 es la que tiene potencialmente mayores y mejores ganancias.

5. Calcula riesgos y ganancias para cada regi√≥n:
    1. Utilizando las predicciones que almacenaste en el paso 4.2, emplea la t√©cnica del bootstrapping con 1000 muestras para hallar la distribuci√≥n de los beneficios.
    2. Encuentra el beneficio promedio, el intervalo de confianza del 95% y el riesgo de p√©rdidas. La p√©rdida es una ganancia negativa, calc√∫lala como una probabilidad y luego expr√©sala como un porcentaje.
    3. Presenta tus conclusiones: prop√≥n una regi√≥n para el desarrollo de pozos petrol√≠feros y justifica tu elecci√≥n. ¬øCoincide tu elecci√≥n con la elecci√≥n anterior en el punto 4.3?

In [ ]:
def bootstrap(df, n_bootstraps = 1000):
    ''' 
    Realiza un bootstrapping sobre un dataframe completo y estima
    la distribucion de ganancias, intervalo de confianza y riesgo de p√©rdida.
    '''

    # Hago mis variables X y y
    X = df.drop(columns=['id', 'product'])
    y = df['product']

    # Necesito agregar un random state para mi for loop
    state = np.random.RandomState(42)
    profit = []
    
    # Inicio un for loop para mi bootstrap, lo aplico para ganancias obtenidas para los 200 pozos
    for i in range(n_bootstraps):
        sample = y.sample(n=200, replace = True, random_state=state)
        total_sample = pd.Series(sample).sum()
        ingreso = total_sample * precio_barril
        ganancia = ingreso - budget
        profit.append(ganancia)
    
    # Lo paso a serie de Pandas
    profit = pd.Series(profit)
    risk = (profit < 0).mean()

    lower = profit.quantile(0.05)
    upper = profit.quantile(0.95)

    print(f'üí∞ Ganancia Promedio: ${profit.mean():.2f}')
    print(f'üìà Intervalo de confianza (95%): Entre ${lower:.2f} a ${upper:.2f}')
    print(f'üõë El riesgo de perdida es del {risk*100:.2f}%')
    
    return

Calculo el riesgo de perdida como un porcentaje de cuantas ocasiones mi bootstrap genero menos de 0, es decir mi ingreso - budget. Budget siendo 100m

In [ ]:
print('Region 1')
bootstrap(df_0)
print('\nRegion 2')
bootstrap(df_1)
print('\nRegion 3')
bootstrap(df_2)

Region 1
üí∞ Ganancia Promedio: $47018969.53
üìà Intervalo de confianza (95%): Entre $46430800.51 a $47662940.71
üõë El riesgo de perdida es del 0.00%

Region 2
üí∞ Ganancia Promedio: $25245181.58
üìà Intervalo de confianza (95%): Entre $25219343.08 a $25272580.26
üõë El riesgo de perdida es del 0.00%

Region 3
üí∞ Ganancia Promedio: $40938345.13
üìà Intervalo de confianza (95%): Entre $40397017.48 a $41514500.66
üõë El riesgo de perdida es del 0.00%

<div class="alert alert-block alert-warning">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Cuidado!<br/>

Estas mandando los datos de los mejores 200 pozos de cada regi√≥n y la funci√≥n de bootstrap lo que hace es tomar una muestra aleatoria de 200 pozos, por lo que todo el tiempo esta tomando los mismos 200 pozos para hacer el calculo y resulta en buenas ganancias con un riesgo de 0, lo que se debe hacer es mandar los datos completos para que se tomen 200 pozos aleatorios de todos los existentes
</div>

## Conclusi√≥n

Basado en el an√°lisis de rentabilidad y riesgo, se recomienda invertir en la **Region 1**:
- Presenta mayor beneficio (ganancia) promedio.
- Riesgo de perdida de 0%.
- Intervalo de confianza con mayor rendimiento.

<div class="alert alert-block alert-success">
<b>Comentario del revisor</b> <a class="tocSkip"></a><br />
Has realizado un buen trabajo, me doy cuenta de que has aplicado los conocimientos que has adquirido durante el curso y los procedimientos realizados son correctos, esta es una gran herramienta que nos ayuda en muchos casos y es bastante √∫til en proyectos reales.<br/>
    
El documento que entregas es organizado y f√°cil de entender.<br/>

Este tipo de analisis nos ayuda a confirmar suposiciones o apoyar decisiones de negocio las cuales muchas veces entre m√°s puntos de vista se analisen mejores resultados se obtendr√°n al final.
Contin√∫a con el buen trabajo y mucho √©xito en el siguiente Sprint!
</div>